<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">

    <Appenders>
        <RollingFile name="LogToFile" FileName="logs/hippodrome.log"
                    filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log"
                    ignoreExceptions="false">
            <PatternLayout pattern="%d %-5p %c: %n%n"/>
            <TimeBasedTriggeringPolicy />
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepht="2">
                <IfFileName glob="hippodrome.*.log" />
                <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="LogToFile"/>

        </Root>
    </Loggers>
</Configuration>


